.bio {
  // border-radius: 2rem;
  vertical-align: middle;
  font-size: 3vh;
  button {
    color: #eeeeee;
  }
  .card.card-body {
    background-color: rgb(185, 185, 185, 0.1);
  }
  .quicklinks{
    text-align: center;
    i{
      // margin: auto;
      font-size: 4h;
    }
    a,i{
      
      color: #eeeeee;
      :hover{
        opacity: 0.7;
      }
    }
  }
}
