<div class="text-center">
  <div class="row mt-1">
    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> FUNK </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/URTgfDZfMMg?si=Do3TF29VjDUls6va"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> GREEK LAIKO </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/ZjzGWz0V3D4?si=7TglYUaHLTKLxb0j"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> GREEK POP </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/eFBxrUHw_I4?si=AHDhdVtOXi2ZGaXd"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> GREEK POP </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/svLMWlJlMQM?si=-XJGpsrRcZQXNnt8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> GREEK FOLK </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/THw8cuatNfE?si=rUMRXZhat__6prsV"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4 music-block">
      <div class="genre" name="punk">
        <span> SOUND DESIGN </span>

        <div class="iframe">
          <iframe
            width="100%"
            height="auto"
            src="https://www.youtube.com/embed/gcJl5FwSUpY?si=v-JY4Cny8d037N8i"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
