<div class="text-center">
    
    
    <div class="row mt-1">
        <div class="col-md-6 music-block">
            <div class="genre" name="punk">
                <span> POP </span>
                
                <div class="iframe">
                    <iframe
                    width="100%"
                    height="auto"
                    src="https://www.youtube.com/embed/x3PoCJXWsTs?si=mWeFQolusJXEVWtQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          ></iframe>
        </div>
    </div>
</div>

<div class="col-md-6 music-block">
    <div class="genre" name="punk">
        <span> ROCK </span>
        
        <div class="iframe">
            <iframe
            width="100%"
            height="AUTO"
            src="https://www.youtube.com/embed/-p5q0CoQIeA?si=osrEr3yqdqbb3I-E"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
</div>

<!-- ROW 2 -->

<div class="row  mt-1">
    <div class="col-md-6 music-block">
        <div class="genre" name="punk">
            <span> CINEMATIC </span>
            
            <div class="iframe">
                <iframe
                width="100%"
                height="AUTO"
                src="https://www.youtube.com/embed/gjwPzsDm93I?si=hPBRw79sDqiWur6o"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 music-block">
        <div class="genre" name="punk">
            <span> HOUSE </span>
            
            <div class="iframe">
                <iframe
                width="100%"
                height="auto"
                src="https://www.youtube.com/embed/k0S0fCKNgGU?si=c9WfKQhUQpLxeF9N"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>









</div>